<div class="bg-white rounded-2xl p-5 flex">
  <div class="flex">
    <img [src]="userData.photo" class="size-15 rounded-full" [alt]="userData.name" />
  </div>

  <form [formGroup]="addCommentsForm" (ngSubmit)="onAddCommentSubmit()">
    <div class="my-2 border-b-2 pb-2">
      <textarea
        formControlName="content"
        class="bg-secondary w-full border-0 rounded-2xl p-4"
        [placeholder]="'Comment as ' + userData.name + '...'"
        name=""
        rows="5"
        id=""
      ></textarea>
    </div>

    @if (imagePreview) {
      <div class="overflow-hidden relative">
        <img
          class="max-h-50 object-cover w-full object-top rounded-2xl"
          [src]="imagePreview"
          alt=""
        />
        <button
          type="button"
          (click)="imagePreview = ''"
          class="cursor-pointer absolute px-2 top-0 bg-secondary/50 rounded-2xl inset-e-0 m-2"
        >
          <i class="fas fa-times text-sm"></i>
        </button>
      </div>
    }

    <div class="flex p-2 items-center justify-between">
      <div class="flex gap-3 p-2">
        <label class="cursor-pointer" [for]="postID">
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-image text-emerald-600"
              aria-hidden="true"
            >
              <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
              <circle cx="9" cy="9" r="2"></circle>
              <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"></path>
            </svg>
            Photo/Video
            <input (change)="onImageChange($event)" [id]="postID" hidden type="file" />
          </div>
        </label>
        <div class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-smile text-amber-500"
            aria-hidden="true"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
            <line x1="9" x2="9.01" y1="9" y2="9"></line>
            <line x1="15" x2="15.01" y1="9" y2="9"></line>
          </svg>
          Feeling/Activity
        </div>
      </div>

      <div>
        <button
          [disabled]="
            isLoading || (!addCommentsForm.get('content')?.value?.length && !imagePreview)
          "
          class="disabled:bg-main/50 bg-main text-white rounded-2xl px-4 py-2 cursor-pointer"
        >
          @if (isLoading) {
            Adding... <i class="fas fa-spinner fa-spin text-sm"></i>
          } @else {
            Comment <i class="fas fa-paper-plane text-sm"></i>
          }
        </button>
      </div>
    </div>
  </form>
</div>
